.orders-page_header {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 6px;
}

.orders-page_title {
    color: #252525;
    letter-spacing: 0.3px;
    font-size: 22px;
    font-weight: bold;
    margin-right: 8px;
    line-height: 26px;
}
.orders-page_count {
    color: #929292;
    font-size: 20px;
    line-height: 16px;
}

.order-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.order-cards_no_orders {
    width: 100%;
    text-align: center;
    padding: 20px;
}
